html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-size: inherit;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
  background: #f8f3ef;
}
body {
  font-family: 'Acrom', normal;
  font-size: 20px;
  font-weight: 400;
  color: #222;
  line-height: normal;
  overflow-x: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
}

.main {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-fluid {
  max-width: 1373px;
  margin: 0 auto;
  padding: 0 10px;
}
@keyframes btn-animation {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.btn {
  color: #f8f3ef;
  font-weight: 700;
  border-radius: 5px;
  background: linear-gradient(45deg, #e2ae80, #cc9872);
  background-size: 300% 300%;
}

.btn:hover {
  background: linear-gradient(90deg, #f1c49c, #d2a27e);
  animation: btn-animation 2s ease infinite;
  background-size: 200% 200%;
}

.btn-inh {
  border-radius: 5px;
  border: 1px solid #d8a47a;
  font-weight: 500;
  background-color: inherit;
}

.title-top {
  font-family: 'Tenor Sans';
  font-size: clamp(1.875rem, 1.739rem + 0.68vw, 2.25rem);
  line-height: 116%;
  font-weight: 400;
  text-transform: uppercase;
}

.title-bottom {
  color: #aca095;
  font-family: 'Tenor Sans';
  font-size: clamp(1.875rem, 1.739rem + 0.68vw, 2.25rem);
  margin-left: clamp(4.313rem, 3.47rem + 3.46vw, 6.063rem);
  font-weight: 400;
  line-height: 116%;
  text-transform: uppercase;
}

/*header start*/
.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
.header__logo {
  margin-right: 35px;
}
.header__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 86px;
}
.header__menu-item {
  margin-right: 30px;
  font-size: 14px;
  font-weight: 700;
  position: relative;
}
.header__menu-item:hover {
  color: #c19d7a;
}
.header__menu-link {
  padding-bottom: 25px;
}

.header__menu-item--active::after {
  content: '';
  background-image: url(../images/arrow-head.svg);
  position: absolute;
  width: 6px;
  height: 3px;
  right: -8px;
  top: 7px;
}

.header__submenu {
  width: 310px;
  padding: 25px 0;
  position: absolute;
  border-radius: 0px 20px 20px 20px;
  background: #c19d7a;
  z-index: 5;
  top: 25px;
  left: 0;
  display: none;
}

.header__menu-item--active {
  padding-right: 10px;
}
body.mouse .header__menu-item--active:hover > .header__submenu {
  display: block;
  opacity: 1;
  z-index: 7;
}

.header__submenu-item {
  color: #fff;
  padding: 7px 18px;
  margin-bottom: 5px;
}
.header__submenu-item:hover {
  color: #222;
  background-color: #fff;
  background-size: cover;
}

.header__contacts {
  margin-right: 39px;
}

.header__contacts-phone {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 3px;
}
.header__contacts-phone:hover {
  color: #c19d7a;
}
.header__contacts-text {
  color: #c0c0c0;
  font-family: Acrom;
  font-size: 12px;
  font-weight: 500;
}

.header__btn {
  padding: 12px 53px;
}
.header__btn-burger {
  background-color: inherit;
  border: none;
  display: none;
}
/*header end*/

/*footer start*/
.footer {
  color: #99999d;
  border-radius: 60px 60px 0 0;
  background: #34353d;
  background-repeat: no-repeat;
  padding: 60px 0 64px;
}

.footer__inner {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.footer__copyright {
  color: #f8f3ef;
  font-size: 12px;
}

.footer__title {
  color: #f8f3ef;
  font-weight: 500;
  margin-bottom: 26px;
}
.footer__item {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 26px;
}
.footer__contacts-adress {
  margin-bottom: 17px;
  font-size: 14px;
  font-weight: 500;
}
.footer__contacts-phone {
  font-size: 14px;
  font-weight: 500;
  margin: 42px 0;
  display: inline-block;
}

.footer__contacts-social {
  display: flex;
  justify-content: start;
  align-items: center;
}

.footer__contacts-social-item {
  margin-right: 13px;
}

.footer__contacts,
.footer__info,
.footer__menu,
.footer__logo {
  margin-right: 20px;
}
/*footer end*/
/*breadcrumbs start*/
.breadcrumbs__wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  z-index: 5;
  padding-top: 40px;
}
.breadcrumbs__list {
  display: flex;
  justify-content: flex-start;
  align-items: end;
}
.breadcrumbs__link {
  color: #f8f3ef;
  font-size: 15px;
}

breadcrumbs__link--active,
breadcrumbs__link--back {
  font-weight: 500;
}
.breadcrumbs__link--back {
  position: relative;
  padding-left: 25px;
  margin-right: 36px;
}
.breadcrumbs__link--back::before {
  position: absolute;
  content: '';
  background-image: url(../images/breadcr-arrow.svg);
  background-repeat: no-repeat;
  height: 8px;
  width: 17px;
  top: 5px;
  left: 0;
}
/*breadcrumbs end*/
/*banner start*/

.banner {
  margin-bottom: clamp(2.75rem, 1.938rem + 3.33vw, 4.438rem);
}
.banner__inner {
  background-repeat: no-repeat;
  padding-top: 73px;
  padding-bottom: clamp(3.25rem, 2.167rem + 4.44vw, 5.5rem);
  background-size: cover;
  background-position: center center;
  position: relative;
  border-radius: 60px;
}

.banner__inner::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 60px;
  background: linear-gradient(
    100deg,
    rgba(37, 37, 44, 0.3) 1.74%,
    rgba(37, 37, 44, 0.17) 56.92%,
    rgba(37, 37, 44, 0.21) 97.51%
  );
}

.banner__content {
  margin: 0 auto;
  width: clamp(20.5rem, 16.364rem + 20.68vw, 31.875rem);
  z-index: 5;
}

.banner__title {
  color: #f8f3ef;
  font-family: 'Tenor Sans';
  font-size: clamp(1.75rem, 1.225rem + 1.87vw, 2.625rem);
  line-height: 125.5%;
  text-transform: uppercase;
  margin-bottom: clamp(2.188rem, 1.96rem + 1.14vw, 2.813rem);
  text-align: center;
}

.banner__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 55px;
  text-align: center;
  grid-column-gap: 10px;
}
.banner__list-item {
  font-size: clamp(0.75rem, 0.6rem + 0.53vw, 1rem);
  color: #f8f3ef;
  font-weight: 500;
  padding-top: 75px;
  position: relative;
}

.banner__list-item::before {
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  top: 0;
  left: 32%;
  width: 116px;
  height: 64px;
}

.banner__list-item:first-child::before {
  background-image: url(../images/icon-car.svg);
}
.banner__list-item:nth-child(2)::before {
  background-image: url(../images/icon-img.svg);
}
.banner__list-item:last-child::before {
  background-image: url(../images/icon-shop.svg);
}

.banner__btn {
  padding: 18px 41px;
}
.banner__btn-inh {
  padding: 15px 24px;
  border-radius: 5px;
  border: 2px solid #e2ae80;
  color: #f8f3ef;
}
.banner__buttons {
  padding: 0 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 19px;
  row-gap: 7px;
  max-width: 570px;
  margin: 0 auto;
  position: relative;
  z-index: 5;
  font-size: clamp(1.017rem, 0.978rem + 0.2vw, 1.125rem);
}
/*banner end*/

/*category start*/
.category__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category__title {
  margin-bottom: 35px;
}

.title-top sup {
  color: #d8a47a;
  font-family: Acrom;
  font-size: 13px;
  font-weight: 500;
}

.category__link {
  position: relative;
  font-size: 16px;
  font-weight: 700;
  padding: 22px 48px 23px 36px;
  border-radius: 5px;
  border: 1px solid #d8a47a;
}

.category__link::after {
  position: absolute;
  content: '';
  background-image: url(../images/arrow.svg);
  width: 5px;
  height: 8px;
  right: 30px;
  top: 28px;
}

.category__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 19px 30px;
  margin-bottom: clamp(3.125rem, 2.553rem + 2.35vw, 4.313rem);
}

.category__item {
  position: relative;
}

.category__item:first-child {
  grid-column: span 2;
  grid-row: span 2;
}
.category__item:nth-child(4) {
  grid-column: span 2;
}

.category__item:nth-child(7) {
  grid-column: span 2;
  grid-row: span 2;
}

.category__item-title-link {
  color: #f8f3ef;
  font-size: 22px;
  font-weight: 700;
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 200px;
}
.category__item-title-link sup {
  color: #f8f3ef;
  font-size: 12px;
  font-weight: 500;
}
.category__item-btn-link {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

/*category end*/

/*promo start*/
.promo {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: clamp(4.438rem, 2.632rem + 7.41vw, 8.188rem);
  padding-bottom: clamp(4.625rem, 2.609rem + 8.27vw, 8.813rem);
}

.promo__form-input {
  margin: 0;
  width: 250px;
  padding: 20px 10px 20px 17px;
  border-radius: 5px;
  background-color: #f5f5f5;
  border: none;
  margin-right: 21px;
}
.promo__content {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.promo__title-top {
  color: #f8f3ef;
}
.promo__form {
  margin-right: 130px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: clamp(2.25rem, 0.956rem + 5.31vw, 4.938rem);
}
.promo__form-btn {
  border: 0;
  width: 290px;
  font-size: 18px;
  font-weight: 700;
  padding: 21.2px 41px;
}

.promo__form-input::placeholder {
  font-size: 14px;
  font-weight: 500;
  line-height: 141.523%;
}

.iti__selected-flag {
  background-color: #f5f5f5 !important;
}

.iti__selected-dial-code {
  font-size: 14px;
}
.promo__form-label {
  color: #f8f3ef;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
}

.promo-contacts-text {
  color: #f8f3ef;
  font-size: 18px;
  margin-bottom: 21px;
  width: 296px;
}

.promo-contacts-phone {
  color: #f8f3ef;
  font-size: 22px;
  font-weight: 500;
}
.promo__agreement {
  margin-top: 22px;
  color: #e6e6e6;
  font-size: 12px;
  font-weight: 300;
  order: 1;
}
/*promo end*/

/* projects start*/
.projects__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: clamp(1.625rem, 1.264rem + 1.48vw, 2.375rem);
  margin-top: clamp(3.25rem, 2.889rem + 1.48vw, 4rem);
}

.projects__buttons-free {
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  border: 1px solid #222;
  padding: 22px 17px 22px 49px;
  position: relative;
}

.projects__buttons-free::before {
  position: absolute;
  content: '';
  background-image: url(../images/projecrs/pencil-icon.svg);
  width: 23px;
  height: 23px;
  top: 20px;
  left: 18px;
}

.projects__buttons-link {
  font-size: 16px;
  font-weight: 700;
  border-radius: 5px;
  border: 1px solid #d8a47a;
  padding: 22px 43px 22px 31px;
  position: relative;
}

.projects__buttons-link::after {
  position: absolute;
  content: '';
  background-image: url(../images/arrow.svg);
  width: 5px;
  height: 8px;
  right: 30px;
  top: 28px;
}

.projects__slide-title {
  color: #f8f3ef;
  font-weight: 700;
  margin-bottom: clamp(1.188rem, 0.856rem + 1.36vw, 1.875rem);
}

.projects__slide-link {
  color: #cf9b74;
  font-size: 14px;
  font-weight: 500;
  border-bottom: 1px solid #cf9b74;
  position: relative;
}

.projects__slide-link::after {
  position: absolute;
  content: '';
  background-image: url(../images/projecrs/Arrow.svg);
  width: 9px;
  height: 10px;
  left: 88px;
  top: 4px;
}

.projects__slide {
  position: relative;
  margin-bottom: clamp(0.938rem, 0.606rem + 1.36vw, 1.625rem);
}

.projects__slide-content {
  position: absolute;
  left: 41px;
  bottom: 41px;
}

.projects__swiper-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: clamp(4.625rem, 4.053rem + 2.35vw, 5.813rem);
}

.swiper-pagination-bullet-active {
  background-color: #e2ae80 !important;
}
.projects__pagination {
  width: 82px !important;
  margin: 0 15px;
}
/* projects end*/

/* video start*/
.video {
  margin-bottom: clamp(2.813rem, 1.699rem + 4.57vw, 5.125rem);
}
.video__content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: clamp(1rem, 0.097rem + 3.7vw, 2.875rem);
}

.video__button-link {
  padding: 23px 22px 22px 54px;
  border-radius: 5px;
  border: 1px solid #cc1616;
  background-color: #cc1616;
  color: #fff2f2;
  font-size: 16px;
  font-weight: 700;

  position: relative;
}

.video__button-link::before {
  position: absolute;
  content: '';
  background-image: url(../images/youtube-video.svg);
  width: 21px;
  height: 21px;
  left: 20px;
  top: 23px;
}

.video__fancybox {
  position: relative;
  margin-bottom: 82px;
}
.video__btn-play {
  position: absolute;
  width: clamp(7.125rem, 4.206rem + 11.98vw, 13.188rem);
  height: clamp(7.125rem, 4.206rem + 11.98vw, 13.188rem);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
/* video end*/

/*cooperate start*/

.cooperate {
  background-image: url(../images/cooperate-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 79px 0 68px;
  margin-bottom: clamp(2.688rem, 1.995rem + 2.84vw, 4.125rem);
}

.cooperate__title-top {
  color: #f8f3ef;
}

.cooperate__text {
  color: #f8f3ef;
  font-size: clamp(1rem, 0.94rem + 0.25vw, 1.125rem);
  font-weight: 400;
  width: clamp(21.875rem, 19.678rem + 9.01vw, 26.438rem);
  margin-bottom: 35px;
}
.title-bottom {
  margin-bottom: 26px;
}
.cooperate__form {
  margin-top: clamp(2.625rem, 1.572rem + 4.32vw, 4.813rem);
}

.cooperate__form {
  margin-right: 130px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: 79px;
}

.cooperate__form-name,
.cooperate__form-phone {
  display: flex;
  flex-direction: column;
}

.cooperate__form-input {
  margin: 0;
  width: 250px;
  padding: 20px 10px 20px 17px;
  border-radius: 5px;
  background-color: #f5f5f5;
  border: none;
  margin-right: 21px;
}

.cooperate__form-btn {
  border: 0;
  width: 290px;
  font-size: 18px;
  font-weight: 700;
  padding: 21.2px 41px;
}

.cooperate__form-input::placeholder {
  font-size: 14px;
  font-weight: 500;
  line-height: 141.523%;
}

.iti__selected-flag {
  background-color: #f5f5f5 !important;
}

.iti__selected-dial-code {
  font-size: 14px;
}
.cooperate__form-label {
  color: #f8f3ef;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
}

.cooperate__agreement {
  margin-top: 22px;
  color: #e6e6e6;
  font-size: 12px;
  font-weight: 300;
}

/*cooperate end*/

/*contacts start*/
.contacts__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.contacts__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacts__buttons-text {
  width: 125px;
  font-size: 14px;
  font-weight: 300;
  margin-right: 15px;
}

.contacts__buttons-btn {
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  border: 1px solid #d8a47a;
  background-color: inherit;
}

.mixitup-control-active {
  border: 1px solid #e2ae80;
  background: var(--123, linear-gradient(90deg, #e2ae80 0.1%, #cc9872 99.91%));
  color: #fff;
  font-weight: 700;
}

.contacts__buttons-btn--moscow {
  padding: 22px 58px;
  margin-right: 9px;
}

.contacts__buttons-btn--stpeter {
  padding: 22px 19px;
}

.contacts__city {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 20px;
  border: solid 1px #e2ae80;
  border-radius: 25px;
  padding: 49px 107px 51px 54px;
}
.contacts__city-map {
  height: 100%;
  width: clamp(17.563rem, 7.873rem + 39.75vw, 37.688rem);
}

.contacts__content-adress {
  font-weight: 500;
  margin-bottom: 29px;
}

.contacts__content-phone {
  display: flex;
  justify-content: start;
}

.contacts__content-phone-tel {
  font-weight: 500;
  margin-right: 32px;
  padding: 3px 0;
  margin-bottom: 29px;
}

.contacts__content-mail {
  color: #ce9a74;
  font-weight: 500;
  border-bottom: 1px solid #ce9a74;
  margin-bottom: 10px;
  display: inline-block;
}

.contacts__content-text {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 27px;
}

.contacts__content-sub {
  font-size: 18px;
  margin-bottom: 10px;
}
.contacts__conten-social {
  display: flex;
  justify-content: start;
}

.contacts__content-social-link {
  margin-right: 9px;
}
/*contacts end*/

/*subscribe start*/
.subscribe__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 26px;
  column-gap: 11px;
  margin-top: 68px;
  margin-bottom: clamp(2.5rem, 1.868rem + 2.59vw, 3.813rem);
}

.subscribe__title {
  font-family: Tenor Sans;
  font-size: 30px;
  line-height: 116%;
  text-transform: uppercase;
  margin-bottom: 22px;
}
.subscribe__text {
  font-size: 18px;
}
.subscribe__form {
  margin-bottom: 17px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 7px;
  column-gap: 11px;
}
.subscribe__form-input {
  padding: 19.2px 24px;
  border-radius: 5px;
  border: 1px solid #c38f65;
  background: #fff;
  width: 260px;
}
.subscribe__form-input::placeholder {
  color: #bcbcbc;
  font-size: 16px;
  font-weight: 500;
  line-height: 141.523%;
}

.subscribe__form-btn {
  padding: 20px 41px;
  border: none;
  width: 257px;
}

.subscribe__forms-agreement {
  color: #8f8f8f;
  font-size: 12px;
  font-weight: 300;
  width: clamp(15.375rem, 7.25rem + 33.33vw, 32.25rem);
}
/*subscribe end*/

/*banner-one start*/
.banner-one {
  padding: 154px 0 183px;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: clamp(2.563rem, 2.292rem + 1.11vw, 3.125rem);
  position: relative;
}
.banner-one__title {
  color: #f8f3ef;
  text-align: center;
  font-family: 'Tenor Sans';
  font-size: clamp(1.875rem, 1.514rem + 1.48vw, 2.625rem);
  line-height: 125.5%;
  text-transform: uppercase;
}
/*banner-one end*/

/*gallery start*/

.gallery__buttons {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 26px;
}

.gallery__btn {
  padding: 7px 20px;
  border-radius: 5px;
  border: 1px solid #d8a47a;
  background-color: inherit;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 42px;
  background: #fff;
}
.gallery__title {
  margin-bottom: 14px;
  color: #c38f65;
  font-weight: 500;
}
.gallery__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 25px;
  column-gap: 30px;
  margin-bottom: 48px;
}
.gallery__items-wrapper {
  position: relative;
}

.gallery__text {
  position: absolute;
  top: 70%;
  left: 10%;
}

.gallery__text-title {
  color: #f8f3ef;
  font-weight: 700;
  margin-bottom: 25px;
}
.gallery__text-link {
  color: #cf9b74;
  font-size: 14px;
  font-weight: 500;
  border-bottom: 1px solid #cf9b74;
  position: relative;
}
.gallery__text-link::after {
  position: absolute;
  content: '';
  background-image: url(../images/arrow-gallery.svg);
  width: 9px;
  height: 10px;
  top: 5px;
  left: 85px;
}
.pagination {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
  grid-column: span 3;
}

.pagination__list {
  display: flex;
  align-items: center;
  gap: 2px;
}
.pagination__list-item {
  padding: 13px 15px;
  color: #c38f65;
  border-radius: 3px;
  background: #fff;
  font-size: 16px;
  font-weight: 500;
}
.pagination__list-item--active {
  color: #fff;
  border-radius: 3px;
  background: var(--123, linear-gradient(90deg, #e2ae80 0.1%, #cc9872 99.91%));
}
.mixitup-control-active {
  border: 1px solid #e2ae80;
  background: var(--123, linear-gradient(90deg, #e2ae80 0.1%, #cc9872 99.91%));
  color: #fff;
  font-weight: 700;
}

.footer-one {
  position: absolute;
  bottom: -300px;
  width: 100%;
}
/*gallery end*/

.banner {
  position: relative;
}

.banner__inner-catalog {
  padding: 139px 0 81px;
}
/*catalog-one start*/
.catalog-one__list {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 59px;
  column-gap: 30px;
  margin-bottom: 98px;
}

.catalog-one__item-img {
  margin-bottom: 16px;
}
.catalog-one__item-title {
  margin-bottom: 16px;
  font-family: 'Tenor Sans';
  font-size: 18px;
  line-height: 120%;
  width: 265px;
}

.catalog-one__item-price {
  color: #d8a47a;
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 22px;
  width: 139px;
}
.catalog__btn {
  font-size: 14px;
  padding: 14px 12px;
}
.catalog__btn-inh {
  font-size: 14px;
  padding: 14px 34px;
}
/*catalog-one end*/

.contacts__cities-one {
  margin-bottom: 72px;
}

.about-one__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  row-gap: 41px;
  column-gap: 55px;
  margin-bottom: 103px;
}

.about-one__content-img {
  width: clamp(21.813rem, 14.711rem + 29.14vw, 36.563rem);
}
.about-one__content-text {
  width: clamp(21.375rem, 16.38rem + 20.49vw, 31.75rem);
}
.about-one__content-text1 {
  margin-bottom: 22px;
}

.clients__list {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 76px;
  margin: 37px 0 91px;
}

/*blog start*/

.blog-one {
  padding-bottom: 55px;
}
.blog-one__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 25px 30px;
  margin-bottom: 45px;
}
.banner-one__text {
  color: #f8f3ef;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 116.023%;
  margin-top: 29px;
}
.blog-one__item {
  position: relative;
}

.blog-one__item-wrapper {
  color: #f8f3ef;
  position: absolute;
  top: 35px;
  left: 33px;
}
.blog-one__item-title {
  display: inline-block;
  font-family: 'Tenor Sans';
  font-size: 26px;
  line-height: 120%;
  text-transform: uppercase;
  margin-bottom: 25px;
  width: clamp(18.75rem, 17.035rem + 7.04vw, 22.313rem);
}

.blog-one__item-text {
  font-size: 16px;
  font-weight: 400;
  width: clamp(17.5rem, 15.183rem + 9.51vw, 22.313rem);
}

.blog-one__item-link {
  color: #cf9b74;
  font-size: 16px;
  font-weight: 500;
  text-decoration-line: underline;
  position: relative;
}
.blog-one__item-link::after {
  position: absolute;
  content: '';
  background-image: url(../images/arrow-gallery.svg);
  width: 9px;
  height: 10px;
  top: 5px;
  left: 70px;
}

.blog-one__item-inner {
  display: flex;
  justify-content: space-between;
  align-items: end;
  column-gap: 34px;
}

.blog-one__item-date {
  display: block;
  color: #c6c6c6;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 190px;
}
/*blog end*/
/*about-plank start*/
.about-plank__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  row-gap: 41px;
  column-gap: 55px;
  margin-bottom: 64px;
}

.about-plank__content-img {
  width: clamp(21.813rem, 14.711rem + 29.14vw, 36.563rem);
}
.about-plank__content-text {
  width: clamp(21.375rem, 16.38rem + 20.49vw, 31.75rem);
}
.about-plank__content-text1,
.about-plank__content-text2 {
  margin-bottom: 22px;
}

.about-plank {
  background: #34353d;
  padding: 85px 0 92px;
  color: #f8f3ef;
  margin-bottom: 57px;
}
.about-plank-bottom__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: clamp(3.75rem, 1.734rem + 8.27vw, 7.938rem);
}
.article-slider__arrow {
  border: none;
  background-color: inherit;
}

.custom-pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 59px 0 90px;
  position: relative;
}

.custom-pagination button {
  border: 1px solid #cdcdcd;
  font-size: 0;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: inherit;
}

.slick-active > button {
  background: var(--123, linear-gradient(90deg, #e2ae80 0.1%, #cc9872 99.91%));
  border: none;
}
.article-slider__arrow {
  position: absolute;
}

.article-slider__arrowright {
  top: 93%;
  right: 0;
}

.article-slider__arrowleft {
  top: 93%;
  left: 0;
}

.slick-slide {
  width: 278px;
  margin-right: 30px;
  padding-bottom: 30px;
}
/*about-plank end*/
.breadcrumbs__link--one {
  color: #222;
  position: relative;
  padding-left: 25px;
  margin-right: 36px;
}
.breadcrumbs__link--one::before {
  background: url(../images/Arrowback.svg);
  position: absolute;
  content: '';
  background-repeat: no-repeat;
  height: 8px;
  width: 17px;
  top: 5px;
  left: 0;
}

.catalog-one__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 69px;
  margin-top: 33px;
}
.catalog-one__gallery {
  width: 2350px;
  overflow: hidden;
}
.catalog-one__swiper1 {
  max-width: 330px;
}
.catalog-one__swiper2 {
  position: relative;
  margin-bottom: 19px;
}
.catalog-one__button img {
  position: absolute;
}

.catalog-one__button-next img {
  right: 14px;
  top: 50%;
  z-index: 5;
}
.catalog-one__button-prev img {
  left: 14px;
  top: 50%;
  z-index: 5;
}

.catalog-one__card-title {
  font-family: 'Tenor Sans';
  font-size: clamp(1.875rem, 1.694rem + 0.74vw, 2.25rem);
  line-height: 125.5%;
  text-transform: uppercase;
  margin-bottom: ;
  width: clamp(21.75rem, 19.884rem + 7.65vw, 25.625rem);
  margin-bottom: 17px;
}

.catalog-one__card-text {
  margin-bottom: 26px;
  font-size: clamp(1rem, 0.94rem + 0.25vw, 1.125rem);
}
.catalog-one__card-numb {
  color: #c38f65;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 26px;
}

.catalog-one__card-form {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}

.catalog-one__card-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.catalog-one__card-label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 17px;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
}
.catalog-one__card-span {
  position: absolute;
  top: -5px;
  left: 0;
  height: 30px;
  width: 30px;
  background-color: #f8f3ef;
  border-radius: 5px;
  border: 1px solid #c38f65;
}

.catalog-one__card-span:after {
  content: '';
  position: absolute;
  display: none;
}

.catalog-one__card-label
  .catalog-one__card-input:checked
  ~ .catalog-one__card-span:after {
  display: block;
}

.catalog-one__card-label .catalog-one__card-span:after {
  top: 6px;
  left: 6px;
  width: 16px;
  height: 16px;
  border-radius: 1px;
  background-color: #c38f65;
}
.catalog-one__card-price {
  margin-top: 5px;
  color: #d8a47a;
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
}
.catalog-one__card-btn {
  padding: 16px clamp(1.938rem, 0.944rem + 4.07vw, 4rem);
}

.catalog-one__card-wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 32px;
  margin-bottom: 22px;
}

.catalog-one__card-credit {
  color: #8f8f8f;
  font-size: 16px;
  font-weight: 500;
  line-height: 124.523%;
  margin-bottom: 46px;
}

.catalog-one__card-nature {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
  padding: 20px;
  border-radius: 15px;
  border: 1px solid #399143;
  margin-bottom: 41px;
}

.catalog-one__card-nature-title {
  font-family: 'Tenor Sans';
  font-size: 16px;
  line-height: 125.5%;
  text-transform: uppercase;
  margin-bottom: 17px;
}
.catalog-one__card-nature-text {
  font-size: 16px;
  line-height: 124.523%;
  margin-bottom: 15px;
}
.catalog-one__card-nature-sert {
  color: #9e9e9e;
  font-size: 14px;
  line-height: 124.523%;
}
.examples__gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 52px;
}
.conditions__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 70px 130px;
  border-radius: 30px;
  border: 1px solid #c38f65;
  gap: 100px;
  margin-bottom: 48px;
}
.conditions__delivery-text {
  margin-bottom: 20px;
  margin-top: 40px;
  width: 479px;
}
.conditions__payment-list {
  list-style-type: disc;
  padding-left: 30px;
}
.conditions__payment-title {
  margin-bottom: 25px;
}
.conditions_title {
  margin-left: 0;
}

.services {
  padding-top: 74px;
  padding-bottom: 102px;
  background-color: #34353d;
  margin-bottom: 82px;
}
.services_title-top {
  color: #f8f3ef;
}
.services__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.services__item {
  padding: 38px 121px 33px 47px;
  border-radius: 30px;
  background-color: #f8f3ef;
  position: relative;
}
.services__item::after {
  position: absolute;
  content: '';
  background-repeat: no-repeat;
  height: 67px;
  width: 67px;
  right: 30px;
  bottom: 30px;
}
.services__item--sample::after {
  background-image: url(../images/services-icon1.svg);
}
.services__item--design::after {
  background-image: url(../images/services-icon2.svg);
}
.services__item--montage::after {
  background-image: url(../images/services-icon3.svg);
}

.services__item-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 22px;
}
.services__item-text {
  font-size: 16px;
}
.blog-box__inner {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 74px;
}
.blog-box__item {
  max-width: 790px;
}
.blog-box__contents {
  padding: 45px 69px 52px 45px;
  border-radius: 10px;
  background: #fff;
  max-width: 514px;
  margin-bottom: 50px;
}
.blog-box__contents summary {
  font-size: 24px;
  font-weight: 700;
  line-height: 140.023%;
  list-style: none;
  background-image: url(../images/contents-close.svg);
  background-repeat: no-repeat;
  background-position: 90% 50%;
}

details[open] > summary {
  background-image: url(../images/contents-open.svg);
  transition: 0.2s ease-out;
}

.blog-box__text {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 50px;
}
.blog-box__contents-list {
  padding-left: 22px;
  margin-top: 21px;
  font-size: 16px;
  line-height: 176.523%; /* 28.244px */
}

.blog-box__title {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 31px;
}
.blog-box__paragraph {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 41px;
}
.blog-box__aside {
  width: 336px;
  border-radius: 30px;
  border: 2px solid var(--123, #e2ae80);
  padding: 41px 32px 46px 39px;
}
.aside {
  width: 336px;
  border-radius: 30px;
  border: 2px solid var(--123, #e2ae80);
  padding: 41px 32px 46px 39px;
}
.aside_title {
  margin-bottom: 15px;
  margin-top: 25px;
  font-size: 16px;
  font-weight: 700;
  line-height: 124.523%;
}
.aside_counter {
  display: flex;
  align-items: end;
  column-gap: 10px;
}
.aside-counter__btn {
  background-color: inherit;
  border: none;
}
.aside__input-inner {
  position: relative;
}
.aside__input-inner::before {
  content: 'м²';
  position: absolute;
  right: 0;
  bottom: 0;
  color: #949494;
  font-size: 19.636px;
  font-weight: 400;
  line-height: 124.523%;
}
.aside-counter__input {
  border: none;
  border-bottom: solid 1.4px #949494;
  width: 65px;
  text-align: left;
  background-color: inherit;
}

.aside__form-select {
  width: 100%;
  padding: 15px 40px 15px 23px;
  border-radius: 5px;
  border: 1px solid var(--123, #e2ae80);
  background: #fff;
  appearance: none;
  background-image: url(../images/arrow-aside.svg);
  background-repeat: no-repeat;
  background-position: 90% 50%;
}
.aside__btn {
  padding: 19px 19px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  width: 100%;
}

@media (max-width: 1200px) {
  .header__menu {
    margin-right: 0;
  }
  .header__btn {
    display: none;
  }
}
@media (max-width: 1000px) {
  .header__btn-burger {
    display: block;
  }
  .header__menu {
    display: none;
  }
  .header__menu.nav--open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 115px;
    right: 0;
    width: 100%;
    background-color: #f8f3ef;
    z-index: 10;
    align-items: start;
    padding: 0 20px;
  }
  .header__menu-item {
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
  }
  .header__submenu.submenu--open {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    font-size: 14px;
    font-weight: 500;
    background-color: inherit;
    padding: 0 0 0 14px;
  }
  .header__submenu-item:first-child {
    margin-top: 15px;
  }
  .header__submenu-item {
    color: #222;
    padding: 0;
    margin-bottom: 10px;
  }
}
