html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-size: inherit;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
html,
body {
  height: 100%;
}
body {
  font-family: 'Acrom', normal;
  font-size: 20px;
  font-weight: 400;
  color: #222;
  line-height: normal;
  overflow-x: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-fluid {
  max-width: 1373px;
  margin: 0 auto;
  padding: 0 10px;
}
@keyframes btn-animation {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.btn {
  color: #f8f3ef;
  font-weight: 700;
  border-radius: 5px;
  background: linear-gradient(45deg, #e2ae80, #cc9872);
  background-size: 300% 300%;
}

.btn:hover {
  background: linear-gradient(90deg, #f1c49c, #d2a27e);
  animation: btn-animation 2s ease infinite;
  background-size: 200% 200%;
}

.btn-inh {
  border-radius: 5px;
  border: 1px solid #d8a47a;
  font-weight: 500;
  background-color: inherit;
}

.title-top {
  font-family: 'Tenor Sans';
  font-size: 36px;
  line-height: 116%;
  font-weight: 400;
  text-transform: uppercase;
}

.title-bottom {
  color: #aca095;
  font-family: 'Tenor Sans';
  font-size: 36px;
  margin-left: 97px;
  font-weight: 400;
  line-height: 116%;
  text-transform: uppercase;
}

/*header start*/
.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
.header__logo {
  margin-right: 35px;
}
.header__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 86px;
}
.header__menu-item {
  margin-right: 30px;
  font-size: 14px;
  font-weight: 700;
  position: relative;
}
.header__menu-item:hover {
  color: #c19d7a;
  transition: all 0.5s;
}
.header__menu-link {
  padding-bottom: 25px;
}

.header__menu-item--active::after {
  content: '';
  background-image: url(../images/arrow-head.svg);
  position: absolute;
  width: 6px;
  height: 3px;
  right: 0;
  top: 7px;
}

.header__submenu {
  width: 310px;
  padding: 25px 0;
  position: absolute;
  border-radius: 0px 20px 20px 20px;
  background: #c19d7a;
  z-index: 5;
  top: 25px;
  left: 0;
  transform: rotateX(-90deg);
  transform-origin: 0 0;
  transition: 0.3 linear;
  visibility: hidden;
  opacity: 0;
}

.header__menu-item--active {
  padding-right: 10px;
  position: relative;
}
.header__menu-item--active:hover > .header__submenu {
  transform: rotateX(0deg);
  visibility: visible;
  opacity: 1;
}

.header__submenu-item {
  color: #fff;
  padding: 7px 18px;
  margin-bottom: 5px;
}
.header__submenu-item:hover {
  color: #222;
  background-color: #fff;
  background-size: cover;
}

.header__contacts {
  margin-right: 39px;
}

.header__contacts-phone {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 3px;
}
.header__contacts-phone:hover {
  color: #c19d7a;
}
.header__contacts-text {
  color: #c0c0c0;
  font-family: Acrom;
  font-size: 12px;
  font-weight: 500;
}

.header__btn {
  padding: 12px 53px;
}

/*header end*/

/*footer start*/
.footer {
  color: #99999d;
  border-radius: 60px 60px 0 0;
  background: #34353d;
  background-repeat: no-repeat;
  padding: 60px 0 64px;
}

.footer__inner {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.footer__copyright {
  color: #f8f3ef;
  font-size: 12px;
}

.footer__title {
  color: #f8f3ef;
  font-weight: 500;
  margin-bottom: 26px;
}
.footer__item {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 26px;
}
.footer__contacts-adress {
  margin-bottom: 17px;
  font-size: 14px;
  font-weight: 500;
}
.footer__contacts-phone {
  font-size: 14px;
  font-weight: 500;
  margin: 42px 0;
  display: inline-block;
}

.footer__contacts-social {
  display: flex;
  justify-content: start;
  align-items: center;
}

.footer__contacts-social-item {
  margin-right: 13px;
}

.footer__contacts,
.footer__info,
.footer__menu,
.footer__logo {
  margin-right: 20px;
}
/*footer end*/

/*banner start*/

.banner {
  margin-bottom: 58px;
}
.banner__inner {
  background-image: url(../images/bg-banner.png);
  background-repeat: no-repeat;
  padding: 73px 0 88px 0;
  background-size: cover;
  position: relative;
  border-radius: 60px;
}

.banner__inner::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 60px;
  background: linear-gradient(
    100deg,
    rgba(37, 37, 44, 0.3) 1.74%,
    rgba(37, 37, 44, 0.17) 56.92%,
    rgba(37, 37, 44, 0.21) 97.51%
  );
}

.banner__content {
  margin: 0 auto;
  width: 492px;
  position: relative;
  z-index: 5;
}

.banner__title {
  color: #f8f3ef;
  font-family: 'Tenor Sans';
  font-size: 42px;
  line-height: 125.5%; /* 52.71px */
  text-transform: uppercase;
  margin-bottom: 35px;
  text-align: center;
}

.banner__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 55px;
  text-align: center;
}
.banner__list-item {
  font-size: 16px;
  color: #f8f3ef;
  font-weight: 500;
  margin-right: 55px;
  padding-top: 75px;
  background-repeat: no-repeat;
  background-position: 35px 15px;
}
.banner__list-item:last-child {
  margin-right: 0;
}

.banner__list-item:first-child {
  background-image: url(../images/icon-car.svg);
}
.banner__list-item:nth-child(2) {
  background-image: url(../images/icon-img.svg);
}
.banner__list-item:last-child {
  background-image: url(../images/icon-shop.svg);
}

.banner__btn {
  padding: 18px 41px;
  margin-right: 19px;
}
.banner__btn-inh {
  padding: 16px 24px;
  border-radius: 5px;
  border: 2px solid #e2ae80;
  color: #f8f3ef;
}
.banner__buttons {
  margin: 0 auto;
  width: 550px;
  position: relative;
  z-index: 5;
  font-size: 18px;
}
/*banner end*/

/*category start*/
.category__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category__title {
  margin-bottom: 35px;
}

.title-top sup {
  color: #d8a47a;
  font-family: Acrom;
  font-size: 13px;
  font-weight: 500;
}

.category__link {
  position: relative;
  font-size: 16px;
  font-weight: 700;
  padding: 22px 48px 23px 36px;
  border-radius: 5px;
  border: 1px solid #d8a47a;
}

.category__link::after {
  position: absolute;
  content: '';
  background-image: url(../images/arrow.svg);
  width: 5px;
  height: 8px;
  right: 30px;
  top: 28px;
}

.category__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 19px 30px;
  margin-bottom: 69px;
}

.category__item {
  position: relative;
}

.category__item:first-child {
  grid-column: span 2;
  grid-row: span 2;
}
.category__item:nth-child(4) {
  grid-column: span 2;
}

.category__item:nth-child(7) {
  grid-column: span 2;
  grid-row: span 2;
}

.category__item-title-link {
  color: #f8f3ef;
  font-size: 22px;
  font-weight: 700;
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 200px;
}
.category__item-title-link sup {
  color: #f8f3ef;
  font-size: 12px;
  font-weight: 500;
}
.category__item-btn-link {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

/*category end*/

/*promo start*/
.promo {
  background-image: url(../images/promo-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 131px 0 141px;
  margin-bottom: 64px;
}

.promo__form-input {
  margin: 0;
  width: 250px;
  padding: 20px 10px 20px 17px;
  border-radius: 5px;
  background-color: #f5f5f5;
  border: none;
  margin-right: 21px;
}
.promo__content {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.promo__title-top {
  color: #f8f3ef;
}
.promo__form {
  margin-right: 130px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: 79px;
}
.promo__form-btn {
  border: 0;
  width: 290px;
  font-size: 18px;
  font-weight: 700;
  padding: 21.2px 41px;
}

.promo__form-input::placeholder {
  font-size: 14px;
  font-weight: 500;
  line-height: 141.523%;
}

.iti__selected-flag {
  background-color: #f5f5f5 !important;
}

.iti__selected-dial-code {
  font-size: 14px;
}
.promo__form-label {
  color: #f8f3ef;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
}

.promo-contacts-text {
  color: #f8f3ef;
  font-size: 18px;
  margin-bottom: 21px;
}

.promo-contacts-phone {
  color: #f8f3ef;
  font-size: 22px;
  font-weight: 500;
}
.promo__agreement {
  margin-top: 22px;
  color: #e6e6e6;
  font-size: 12px;
  font-weight: 300;
}
/*promo end*/

/* projects start*/
.projects__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 38px;
}

.projects__buttons-free {
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  border: 1px solid #222;
  padding: 22px 17px 22px 49px;
  position: relative;
}

.projects__buttons-free::before {
  position: absolute;
  content: '';
  background-image: url(../images/projecrs/pencil-icon.svg);
  width: 23px;
  height: 23px;
  top: 20px;
  left: 18px;
}

.projects__buttons-link {
  font-size: 16px;
  font-weight: 700;
  border-radius: 5px;
  border: 1px solid #d8a47a;
  padding: 22px 43px 22px 31px;
  position: relative;
}

.projects__buttons-link::after {
  position: absolute;
  content: '';
  background-image: url(../images/arrow.svg);
  width: 5px;
  height: 8px;
  right: 30px;
  top: 28px;
}

.projects__slide-title {
  color: #f8f3ef;
  font-weight: 700;
  margin-bottom: 30px;
}

.projects__slide-link {
  color: #cf9b74;
  font-size: 14px;
  font-weight: 500;
  border-bottom: 1px solid #cf9b74;
  position: relative;
}

.projects__slide-link::after {
  position: absolute;
  content: '';
  background-image: url(../images/projecrs/Arrow.svg);
  width: 9px;
  height: 10px;
  left: 88px;
  top: 4px;
}

.projects__slide {
  position: relative;
  margin-bottom: 26px;
}

.projects__slide-content {
  position: absolute;
  left: 41px;
  bottom: 41px;
}

.projects__swiper-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 93px;
}

.swiper-pagination-bullet-active {
  background-color: #e2ae80 !important;
}
.projects__pagination {
  width: 82px !important;
  margin: 0 15px;
}
/* projects end*/

/* video start*/

.video__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 46px;
}

.video__button-link {
  padding: 23px 22px 22px 54px;
  border-radius: 5px;
  border: 1px solid #cc1616;
  background-color: #cc1616;
  color: #fff2f2;
  font-size: 16px;
  font-weight: 700;

  position: relative;
}

.video__button-link::before {
  position: absolute;
  content: '';
  background-image: url(../images/youtube-video.svg);
  width: 21px;
  height: 21px;
  left: 20px;
  top: 23px;
}

.video__fancybox {
  position: relative;
  margin-bottom: 82px;
}
.video__btn-play {
  position: absolute;
  top: 35%;
  left: 40%;
}
/* video end*/
