html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-size: inherit;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
html,
body {
  height: 100%;
}
body {
  font-family: 'Acrom', normal;
  font-size: 20px;
  font-weight: 400;
  color: #222;
  line-height: normal;
  overflow-x: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-fluid {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 10px;
}
@keyframes btn-animation {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.btn {
  color: #f8f3ef;
  font-weight: 700;
  border-radius: 5px;
  background: linear-gradient(45deg, #e2ae80, #cc9872);
  background-size: 300% 300%;
}

.btn:hover {
  background: linear-gradient(90deg, #f1c49c, #d2a27e);
  animation: btn-animation 2s ease infinite;
  background-size: 200% 200%;
}

.btn-white {
  border-radius: 5px;
  border: 1px solid #d8a47a;
  font-weight: 500;
}

/*header start*/
.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
.header__logo {
  margin-right: 35px;
}
.header__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 96px;
}
.header__menu-item {
  margin-right: 44px;
  font-size: 14px;
  font-weight: 700;
  position: relative;
}
.header__menu-item:hover {
  color: #c19d7a;
  transition: all 0.5s;
}
.header__menu-link {
  padding-bottom: 25px;
}

.header__menu-item--active::after {
  content: '';
  background-image: url(../images/arrow-head.svg);
  position: absolute;
  width: 6px;
  height: 3px;
  right: 0;
  top: 7px;
}

.header__submenu {
  width: 310px;
  padding: 25px 0;
  position: absolute;
  border-radius: 0px 20px 20px 20px;
  background: #c19d7a;
  z-index: 5;
  top: 25px;
  left: 0;
  transform: rotateX(-90deg);
  transform-origin: 0 0;
  transition: 0.3 linear;
  visibility: hidden;
  opacity: 0;
}

.header__menu-item--active {
  padding-right: 10px;
  position: relative;
}
.header__menu-item--active:hover > .header__submenu {
  transform: rotateX(0deg);
  visibility: visible;
  opacity: 1;
}

.header__submenu-item {
  color: #fff;
  padding: 7px 18px;
  margin-bottom: 5px;
}
.header__submenu-item:hover {
  color: #222;
  background-color: #fff;
  background-size: cover;
}

.header__contacts {
  margin-right: 39px;
}

.header__contacts-phone {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 3px;
}
.header__contacts-phone:hover {
  color: #c19d7a;
}
.header__contacts-text {
  color: #c0c0c0;
  font-family: Acrom;
  font-size: 12px;
  font-weight: 500;
}

.header__btn {
  padding: 12px 53px;
}

/*header end*/

/*footer start*/
.footer {
  color: #99999d;
  border-radius: 60px 60px 0 0;
  background: #34353d;
  background-repeat: no-repeat;
  padding: 60px 0 64px;
}

.footer__inner {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.footer__copyright {
  color: #f8f3ef;
  font-size: 12px;
}

.footer__title {
  color: #f8f3ef;
  font-weight: 500;
  margin-bottom: 26px;
}
.footer__item {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 26px;
}
.footer__contacts-adress {
  margin-bottom: 17px;
  font-size: 14px;
  font-weight: 500;
}
.footer__contacts-phone {
  font-size: 14px;
  font-weight: 500;
  margin: 42px 0;
  display: inline-block;
}

.footer__contacts-social {
  display: flex;
  justify-content: start;
  align-items: center;
}

.footer__contacts-social-item {
  margin-right: 13px;
}

.footer__contacts,
.footer__info,
.footer__menu,
.footer__logo {
  margin-right: 20px;
}
/*footer end*/
